.images{
    display: flex;
    justify-content: space-between;
}
.images-2{
    display: flex;
    justify-content: space-between;
}
.images-3{
    display: flex;
    justify-content: space-between;
}
.images-4{
    display: flex;
    justify-content: space-between;
}
.pic-1 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-2 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-3 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-4 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-5 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-6 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-7 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-8 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-9 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-10 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-11 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-12 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-13 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-14 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-15 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.pic-16 > img {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
}
.nav :hover{
    background-color: rgb(54, 221, 157);
}