.navbar{
    background-color: #4c5b61;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 20px;
    margin-right: 5.2rem;
    margin: 0px;
    height: 6rem;
}

h1{
    font-size: xx-large;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    color: white;
    padding-left: 25rem;
    padding-top: 1rem;
}
.right{
    text-align: right;
    margin-bottom: 20rem;
    color: white;
}

.right :hover{
    background-color: rgb(54, 221, 157);
}
button :hover{
    background-color: rgb(54, 221, 157);
}
.load :hover{
    background-color: rgb(54, 221, 157);
}
.body{
    background-color: rgb(15, 15, 15);
    background-repeat: no-repeat;
    width: 100%;
    margin-right: 10rem;
    background-image: url(bn-min.jpg);
}
.contact{
   
    width: 15rem;
    text-align: left;
    background-color: darkgray;
    padding-left: 30px;
    color: black;
}
p{
    font-size: x-large;
    font-weight: 100px;
    padding-left: 20px;
    color: white;
    margin-top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    /* padding-left: 50px; */
    height: 4rem;
    width: 5rem;
}
.book{
    width: 100px;
    height: 100x;
}
.pic-1 > img {
    
    width: 10rem;
    height: 9rem;
    margin-top: 27rem;
}
.pic-2 > img {
    width: 13rem;
    height: 9rem;
    margin-top: 27rem;
}
.pic-3 > img {
    width: 14rem;
    height: 9rem;
    margin-top: 27rem;
}
.pic-4 > img {
    width: 13rem;
    height: 9rem;
    margin-top: 26.5rem;
}
.icon{
    color: aliceblue;
    padding-left: 2rem;
    justify-content: space-between;
    list-style: none;
}
.footer{
    color: aliceblue;
    text-align: center;
    list-style: none;
    background-color: #4c5b61;
}
.footer2{
    display: flex;
}
.mess{
    padding-top: 1rem;
}
.footer2 .inst{
    padding-left: 32rem;
}
.footer2 .face{
    padding-left: 10px;
}
button{
    border-radius: 3rem;
    text-decoration: none;   
    margin-bottom: 2rem;
}




